.header {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.button-modern {
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-modern:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button-modern:active {
  transform: translateY(1px);
}

.course-offerings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.course {
  text-align: left;
  border: 1px solid #ccc; 
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.course:hover {
  transform: translateY(-5px);
  background-color: #f0f0f0;
}

.course img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  display: block;
}

.course h2 {
  font-size: 16px;
  color: #444;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 2.5em;
  line-height: 1.2;
}

.dialog-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dialog-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.dialog-header h2 {
  margin: 0;
  font-size: 24px;
}

.close-button {
  background: none;
  border: none;
  color: #666;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #000;
}

.dialog-body table {
  width: 100%;
  border-collapse: collapse;
}

.dialog-body th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.dialog-body td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}

.dialog-body td:nth-child(3) {
  text-align: justify;
}
